* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  background-color: rgb(202, 202, 202);
  padding-top: 80px;
  padding-bottom: 80px;
}
@import "./components/itemList/ItemList.scss";
@import "./components/item/Item.scss";
@import "./components/Modal/Modal.scss";
