* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  background-color: rgb(202, 202, 202);
  min-height: 100vh;
  padding-bottom: 80px;
  position: relative;
}

.page-title {
  display: block;
  width: 120px;
  font-size: 90px;
  position: absolute;
  left: 10px;
  top: 420px;
  transform: rotate(270deg);
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.464);
}
.not-found {
  font-size: 30px;
  text-transform: uppercase;
  font-family: monospace;
  letter-spacing: 2px;
  margin-left: 40px;
}
.not-found::after {
  content: ":(";
}

@import "./components/itemList/ItemList.scss";
@import "./components/item/Item.scss";
@import "./components/Modal/Modal.scss";
@import "./components/navigation/Navigation.scss";
@import "./components/BuyForm/BuyForm.css";
