.item-cards {
  display: block;
  position: relative;
  width: 300px;
  height: 480px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.item-cards .item__photo {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.item-cards .item__name {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-left: 5px;
  font-family: monospace;
}
.item-cards .item__color {
  font-family: monospace;
  padding-left: 5px;
  font-size: 15px;
  margin-top: 6px;
  padding-top: 5px;
  border-top: 4px solid rgb(202, 202, 202);
}
.item-cards .item__article {
  padding-left: 5px;
  font-size: 15px;
  font-family: monospace;
  margin-top: 2px;
}
.item-cards .item__article-numbers {
  letter-spacing: 2px;
}
.item-cards .item__price-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(230, 230, 230);
}
.item-cards .item__price {
  margin-left: 5px;
  font-family: monospace;
  font-size: 15px;
}
.item-cards .item__price::after {
  content: "₴";
}
.item-cards .item__buy-btn {
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.925);
  padding: 5px 20px 5px 20px;
  border-radius: 9px;
  color: #000;
  border: none;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  transition: 0.2s;
}
.toggler {
  position: absolute;
  top: 30px;
  left: 10px;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 20px;
  text-decoration: none;
  transition: 0.2s;
  width: 120px;
  height: 30px;
  border: none;
  background-color: rgb(49, 49, 49);
  border-radius: 5px;
  color: rgb(255, 255, 255);
}
.toggler:hover {
  background-color: rgb(181, 0, 0);
}
.item__buy-btn:hover {
  background-color: rgb(38, 33, 33);
  color: white;
}

.item-cards .item__favorite-button {
  position: absolute;
  top: -5px;
  right: 20px;
  border-radius: none;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  padding-top: 10px;
  cursor: pointer;
  transition: 0.1s;

  background-color: rgb(230, 230, 230);
}
.item-cards .item__favorite-button:hover {
  background-color: rgb(201, 201, 201);
}
.item-cards .item__favorite-button.inFavorites .favorite-button_svg {
  filter: invert(30%) sepia(79%) saturate(6142%) hue-rotate(353deg)
    brightness(80%) contrast(139%);
}
.item-cards .item__favorite-button.inFavorites {
  background-color: rgb(0, 0, 0);
}

.item-list {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 90px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.item-list .item__photo {
  width: 90px;
  height: 100%;
  object-fit: cover;
}
.item-list .item__name {
  display: block;
  width: 300px;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-left: 5px;
  font-family: monospace;
  margin-left: 20px;
}
.item-list .item__color {
  font-family: monospace;
  padding-left: 5px;
  font-size: 15px;
  border-left: 4px solid rgb(202, 202, 202);
  margin-right: 5px;
}
.item-list .item__article {
  padding-left: 5px;
  font-size: 15px;
  font-family: monospace;
  margin-left: auto;
  margin-right: 50px;
  border-left: 4px solid rgb(202, 202, 202);
}
.item-list .item__article-numbers {
  letter-spacing: 2px;
}
.item-list .item__price-container {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(230, 230, 230);
}
.item-list .item__favorite-button {
  position: absolute;
  top: -5px;
  left: 350px;
  border-radius: none;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  padding-top: 10px;
  cursor: pointer;
  transition: 0.1s;

  background-color: rgb(230, 230, 230);
}
.item-list .item__favorite-button:hover {
  background-color: rgb(201, 201, 201);
}
.item-list .item__favorite-button.inFavorites .favorite-button_svg {
  filter: invert(30%) sepia(79%) saturate(6142%) hue-rotate(353deg)
    brightness(80%) contrast(139%);
}
.item-list .item__favorite-button.inFavorites {
  background-color: rgb(0, 0, 0);
}
.item-list .item__price {
  margin-left: 5px;
  font-family: monospace;
  font-size: 15px;
}
.item-list .item__price::after {
  content: "₴";
}
.item-list .item__buy-btn {
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.925);
  padding: 5px 20px 5px 20px;
  border-radius: 9px;
  color: #000;
  border: none;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  transition: 0.2s;
}
.item-list .item__buy-btn:hover {
  background-color: #000;
  color: white;
}
