.modal-box {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background-color: #00000048;
}
.modal-box .modal {
  z-index: 1000;
  position: relative;
  background-color: #e0e0e0;
  width: 500px;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.modal-box .modal .modal__heading {
  font-family: monospace;
  font-weight: 400;
  letter-spacing: 0.2px;
  background-color: #313131;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
}
.modal-box .modal .modal__description {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  width: 400px;
}
.modal-box .modal .modal-closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: 1;
}
.modal-box .modal .modal-closeButton .closeButton-line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: white;
  transform: rotate(45deg);
  top: 12px;
}
.modal-box .modal .modal-closeButton .closeButton-line:last-of-type {
  transform: rotate(-45deg);
  top: 11px;
}
.modal-box .modal .modal__action-btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 17px;
}
.modal-box .modal .modal__action-btn_container .modal__action-button {
  width: 80px;
  height: 35px;
  margin: 0 5px 0 5px;
  font-size: 15px;
  background-color: #353535;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.12s;
}
.modal-box .modal .modal__action-btn_container .modal__action-button:hover {
  background-color: rgb(37, 37, 37);
}
