.buy-form__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(183, 183, 183);
  margin-top: 15px;
  margin-bottom: 15px;
}
.buy-form__wrapper h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-family: monospace;
}
.buy-form {
  box-sizing: border-box;
  position: relative;
  width: 400px;
  padding-top: 15px;
  padding-bottom: 10px;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}

.buy-form__input-container {
  position: relative;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 5px;
  background-color: rgb(170, 170, 170);
  padding-right: 15px;
  padding-left: 15px;
}
.buy-form__input-container label {
  display: block;
  font-size: 22px;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.buy-form__input-container label::after {
  content: ":";
}
.buy-form__input-container input {
  width: 100%;
  height: 27px;
  border-radius: 5px;
  border: none;
  font-size: 22px;
}
.buy-form button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  width: 190px;
  height: 30px;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.buy-form button:hover {
  background-color: rgb(43, 43, 43);
  color: rgb(234, 233, 233);
  border-radius: 10px;
}
.form__error-text {
  color: rgb(172, 46, 46);
  text-transform: uppercase;
  font-size: 14px;
  font-family: monospace;
}
