.item {
  display: block;
  position: relative;
  width: 300px;
  height: 480px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.item__photo {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.item__name {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-left: 5px;
  font-family: monospace;
}
.item__color {
  font-family: monospace;
  padding-left: 5px;
  font-size: 15px;
  margin-top: 6px;
  padding-top: 5px;
  border-top: 4px solid rgb(202, 202, 202);
}
.item__article {
  padding-left: 5px;
  font-size: 15px;
  font-family: monospace;
  margin-top: 2px;
}
.item__article-numbers {
  letter-spacing: 2px;
}
.item__price-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(230, 230, 230);
}
.item__price {
  margin-left: 5px;
  font-family: monospace;
  font-size: 15px;
}
.item__price::after {
  content: "₴";
}
.item__buy-btn {
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.925);
  padding: 5px 20px 5px 20px;
  border-radius: 9px;
  color: #000;
  border: none;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  transition: 0.2s;
}

.item__buy-btn:hover {
  background-color: #000;
  color: white;
}

.item__favorite-button {
  position: absolute;
  top: -5px;
  right: 20px;
  border-radius: none;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  padding-top: 10px;
  cursor: pointer;
  transition: 0.1s;

  background-color: rgb(230, 230, 230);
}
.item__favorite-button:hover {
  background-color: rgb(201, 201, 201);
}
.item__favorite-button.inFavorites .favorite-button_svg {
  filter: invert(30%) sepia(79%) saturate(6142%) hue-rotate(353deg)
    brightness(80%) contrast(139%);
}
.item__favorite-button.inFavorites {
  background-color: rgb(0, 0, 0);
}
