.modal-box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background-color: #00000048;
  .modal {
    z-index: 1000;
    position: relative;
    background-color: #ff5640;
    width: 450px;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    .modal__heading {
      font-family: "Segoe UI";
      font-weight: 600;
      background-color: #e24a35;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 20px;
    }
    .modal__description {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
      width: 400px;
    }
    .modal-closeButton {
      position: absolute;

      top: 15px;
      right: 15px;
      width: 25px;
      height: 25px;
      cursor: pointer;
      background-color: alpha($color: #501414);
      .closeButton-line {
        position: relative;
        width: 100%;
        height: 1px;
        background-color: white;
        transform: rotate(45deg);
        top: 12px;
      }
      .closeButton-line:last-of-type {
        transform: rotate(-45deg);
        top: 11px;
      }
    }
    .modal__action-btn_container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
      margin-bottom: 17px;

      .modal__action-button {
        width: 80px;
        height: 35px;
        margin: 0 5px 0 5px;
        background-color: #c53f2e;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.12s;
      }
      .modal__action-button:hover {
        background-color: #993325;
      }
    }
  }
}
