.global-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 30px;
  list-style: none;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(172, 172, 172);
  margin-bottom: 20px;
  border-bottom: 5px solid rgb(144, 144, 144);
}
.global-nav__li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
}
.global-nav__li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 20px;
  text-decoration: none;
  transition: 0.2s;
  color: black;
}
.global-nav__li .active {
  border-radius: 5px;
  background-color: rgb(43, 43, 43);
  color: rgb(255, 255, 255);
}
.itemsCount {
  text-decoration: underline;
  font-size: 15px;
  color: rgb(169, 41, 41);
}
.itemsCount::before {
  content: "";
  padding-right: 4px;
}
.global-nav__li .active .itemsCount {
  color: rgb(255, 255, 255);
}
